
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background: linear-gradient(90deg, #00f, #0f0); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white; 
  }
  
  .logo img {
    max-width: 60px;
  }
  .nav {
    background: linear-gradient(90deg, #00f, #0f0); 
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-style: oblique;
}
  
  .hero {
    position: relative;
    width: 100%;
    min-height: 60vh;
    overflow: hidden;
  }
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black overlay */
    z-index: -1; /* ensure it's behind other content */
  }
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-family: 'Yanone Kaffeesatz', sans-serif; /* Applying Yanone Kaffeesatz font to the hero content */
    animation: animateHero 9s infinite;
    font-style: oblique;
    font: small-caps bold 24px/1 sans-serif;
    text-overflow: ellipsis; 

  }
  .hero-content h1, .hero-content p {
   
    float:left;
    overflow:hidden;
    padding-left:5px;
  }

  @keyframes animateHero {
    0%, 25% {
      font-size: 2.5em;
      color: red;
    }
    50%, 75% {
      font-size: 2.5em;
      color: blue;
    }
    100% {
      font-size: 2.5em;
      color: green;
    }
    
      
  }
  
  
  

.about-us {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
}

.about-us h2 {
    font-size: 4em;
    margin-bottom: 20px;
    font-style: oblique;
    font: small-caps bold 24px/1 sans-serif;
}

.about-us p {
    font-size: 1.1em;
    line-height: 1.6;
}

  .cta-section {
    text-align: center;
    background-color: #eaeaea;
    margin: 0;
    padding: 100px 20px;
  }
  
  footer {
    
        position: relative;
        width: 100%;
        background: #3586ff;
        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .social-icon,
      .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
      }
      
      .social-icon__item,
      .menu__item {
        list-style: none;
      }
      
      .social-icon__link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icon__link:hover {
        transform: translateY(-10px);
      }
      
      .menu__link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      
      .menu__link:hover {
        opacity: 1;
      }
      
      .footer p {
        color: #fff;
        margin: 15px 0 10px 0;
        font-size: 1rem;
        font-weight: 300;
      }
      
      .wave {
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url("https://i.ibb.co/wQZVxxk/wave.png");
        background-size: 1000px 100px;
      }
      
      .wave#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWaves 4s linear infinite;
      }
      
      .wave#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animate 4s linear infinite !important;
      }
      
      .wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWaves 3s linear infinite;
      }
      
      .wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animate 3s linear infinite;
      }
      
      @keyframes animateWaves {
        0% {
          background-position-x: 1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      
      @keyframes animate {
        0% {
          background-position-x: -1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      
  
  .cta-btn {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 0.5em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
  
  
  .cta-btn:hover {
    background-color: #0056b3;
    outline: 0;
  }

  form { max-width:420px; margin:50px auto; }
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    background:rgb(30,30,40);
   
  }
 
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  .contact_area {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('IMAGES/2148571360.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 100px 0; 
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }

   h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .from_main {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-control:focus {
    outline: none;
    border-color: #007bff;
  }